  
  </div>
  <script type="text/javascript">
    
    
    $(document).ready(function() {
        //自动隐藏提示
        window.setTimeout(function() {
            $(".alert").slideUp(500, function(){
                $(this).alert('close');
            });
        }, 2000);
        
    });
  </script>
  </body>
</html>